header, footer {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    align-items: center;
    padding: 1rem 3rem;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    min-height: 100vh;
    font-family: Hero Main Text;
}

.left-header {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 24px;
}

.right-header {
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    gap: 16px;
}

.image-section {
    display: flex;
    background-color: #1F2937;
    padding: 3rem;
}

.image-subtitle {
    color: #F9FAF8;
    font-weight: bolder;
    font-size: 48px;
}

.image-group-one {
   display: flex;
   flex-direction: column;
   font-family: Hero Main Text;
   color: #F9FAF8;
   margin-left: 16px;
}














/* FONTS & COLORS SECTION  */

/* dark background color (hero and footer)
#1F2937

Hero Main text ("this website is awesome")
48px extra-bold#F9FAF8

Hero Secondary text, Header Link Text
18px #E5E7EB

Header Logo Text
24px #F9FAF8

Button color, call to action background color
#3882F6

information header text
36px extra-bold#152937

Quote section background color
#E5E7EB

Quote text
36px light italic #1F2937 */